
.info
{
  z-index: 10;
position: fixed;
margin-left: 3%;
margin-top: 45%;
background: transparent;
color:#FFFFFF;
border: none;

font-family: 'Sora', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

}


.sub
{
 
  z-index: 10;
position: fixed;
margin-left: 57%;
margin-top: 5%;
margin-bottom: 30%;
width: 50%;
border: none;
background: transparent;

font-family: 'Gemunu Libre Medium', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.075em;

color:#FFFFFF;
}

 .enter
{
  z-index: 10;
  position: fixed;
  margin-left: 57%;
  margin-top: 7.6%;
  width: 24%;
/* left: 57.15%;
right: 33.68%;
top: 16.39%;
bottom: 80.83%; */
padding: 7px;
border-radius: 18px;


font-family: 'Gemunu Libre Medium', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height */

 letter-spacing: 0.105em;

color: #636363;
}

.notify
{
z-index: 10;
position: fixed;
margin-left: 84%;
margin-bottom: 10%;
margin-top: 7.6%;
/* left: 78%;
right: 5.83%;
top: 14%;
bottom: 78.33%; */
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
background: #144189;
border-color: white;

box-sizing: border-box;
font-family: 'Gemunu Libre Medium', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 32px;

 letter-spacing: 0.105em;
text-transform: uppercase; 

color: #FFFFFF;
}

.soon
{
  z-index: 10;
  position: fixed;
  margin-left: 8%;
  margin-top: 32%;
  border: none;
  background: transparent;
  text-shadow: 1px 1px white;
 
  
  font-family: 'Sora', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 81px;
text-align: center;
letter-spacing: 0.079em;
color: #144189;
}


.certify
{
 z-index: 10;
position: fixed;
width: 35%;
margin-left: 12%;
margin-top: 26%;
border: none;
background: transparent;

font-family: 'Sora', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.22em;
text-transform: uppercase;
color: #FFFFFF;
}

.uni
{
  z-index: 10;
  position:fixed;
  width: 35%;
  margin-left: 11.5%;
  margin-right: 20%;
  margin-top: 24%;
  border: none;
  background: transparent;
  text-decoration:underline;

  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
/* identical to box height */

text-transform: uppercase;

color:white;
}

.net
{
  z-index: 10;
position: fixed;
width: 35%;
margin-left: 11%;
margin-top: 15%;
border: none;
border-radius: 5px;
background: transparent;


font-family: 'Gemunu Libre Medium', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
text-align: center;
letter-spacing: 0.3em;
border: 1px dashed #FFFFFF;
text-transform: uppercase;
color:#FFFFFF;

}

.image1
{
   position: fixed;
  
  
}

.image2
{
  position:fixed;
  margin-left: 50%;
  margin-top: 15.9%;
  
}

.image3
{
  position: fixed;
  margin-left: 12%;
  margin-top: 4%;
}
/* @media (min-width: 1024)
{
  .image3{ 
    width:10%;
  }

  .image2{
    width: 100%;
  }
  .enter{
    margin-top: 60%;
    margin-bottom: 50%;
  }
}

@media (min-width:769) and (max-width: 1199)
{
  .image3{
    width: 20%;
  }

  .enter{
    width: 5%;
  }

  .uni{
      width: 5%;
  }
}
@media (max-width: 768px)
{
  .image3{
    width: 30%;
  }

  .notify{
    width: 10%;
  }
  
  .enter{
    width: 20%;
  }
}

@media (max-width: 468)
{
  .image3{
    width: 10%;
  }
} */

@media (min-width: 1200px)
{
  .info
  {
    margin-top: 42%;
  }
  .net
  {
    margin-top: 14%;
  }
   .uni
   {
    font-size: 19px;
    margin-left: 13%;
    margin-top: 23%;
   }
   .certify
   {
    font-size: 16px;
    margin-left: 13%;
    margin-top: 25%;
   }

   .soon
   {
    font-size: 41px;
    letter-spacing: 0.02em;
    margin-left: 14%;
    margin-top: 30%;
   }

   .image3
   {
     width: 34%;
     margin-top: 3%;
   }
   .image2
   {
     width: 50%;
   }
}

@media (max-width: 990px)
{
   .image3
   {
     width: 39%;
     margin-top: 4%;
   }
   .enter
   {
     margin-top: 11%;
   }
   .notify
   {
     margin-top: 11%;
   }

   .net
   {
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-top: 17%;
    margin-left: 12.5%;
   }

   .uni
   {
    font-size: 14px;
    margin-left: 15%;
    margin-top: 28%;
   }
   .certify
   {
    font-size: 11.5px;
    margin-left: 15.5%;
    margin-top: 30%;
   }

   .info
   {
     margin-top: 50%;
     font-size: 13px;
   }

   .image2
   {
     width: 80%;
   }

   .soon
   {
    font-size: 36px;
    letter-spacing: 0.02em;
    margin-left: 14%;
    margin-top: 36%;
   }
   
   .sub
   {
    font-size: 11px;
    letter-spacing: 0.060em;
    margin-top: 7%;
   }
  
}

@media (max-width: 800px)
{
  .info
  {
    margin-top: 50%;

  }
  .enter
  {
    margin-top: 11%;
  }
  .notify
  {
    margin-top: 11%;
  }
  .net
  {
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-left: 10%;
    margin-top: 17%;
  }

  .uni
  {
    /* width: 60%; */
    font-size: 13px;
    margin-left: 10%;
    margin-top: 28%;
  }
  .certify
  {
    /* width: 70%; */
    font-size: 11px;
    margin-left: 10%;
    margin-top: 30%;
  }
  .soon
  {
    font-size: 33px;
    letter-spacing: 0.05em;
    margin-left: 9%;
    margin-top: 35%;
  }
  
  .sub
  {
    font-size: 8.5px;
    letter-spacing: 0.060em;
    margin-left: 58%;
    margin-top: 7%;
  }
  
  .image2
  {
    width: 60%;
  }
  .image3
  {
    width: 40%;
    margin-left: 9%;
    margin-top: 4%;
  }

}

@media (max-width: 600px)
{
  .info
  {
    margin-top: 60%;
    font-size: 10px;
    
  }
  .enter
  {
    font-size: 12px;
    letter-spacing: 0.105px;
    margin-top: 10%;
    margin-left: 53%;
    width: 25%;
  }

  .sub
  {
    font-size: 7px;
    letter-spacing: 0.060em;
    margin-top: 6%;
    margin-left: 54.5%;
  
  }
  .notify
  {
    font-size: 6px;
    letter-spacing: 0.200em;
    margin-top: 10%;
    margin-left: 82%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0%;
  }
   .soon
   {
    font-size: 26px;
    letter-spacing: 0.02em;
    margin-left: 7%;
    margin-top: 42%;
   }

   .image3
   {
     width: 40%;
     margin-left: 8%;
     margin-top: 3%;
   }
   .uni
   {
    font-size: 8px;
    margin-left: 11%;
    margin-top: 30%;
   }
   .certify
   {
     font-size: 6.5px;
     margin-left: 11.5%;
     margin-top: 33%;
   }
   
   
   .net
   {
    font-size: 8px;
    letter-spacing: 0.1em;
     margin-left: 9%;
     margin-top: 16%;
   }
   .image2
   {
     width: 70%;
   }
}

@media (max-width: 480px)
{
  .sub
  {
    font-size: 5px;
    letter-spacing: 0.060em;
    margin-top: 6%;
    margin-left: 55%;
  }

   .enter
   {
    font-size: 10px;
    letter-spacing: 0.105px;
    margin-top: 10%;
    margin-left: 54%;
    width: 25%;
   }

   .notify
   {
    font-size: 3px;
    letter-spacing: 0.200em;
    margin-top: 10%;
    margin-left: 84.2%;
    
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0%;
   }

   .net
   {
    font-size: 5px;
    letter-spacing: 0.1em;
     margin-left: 9%;
     margin-top: 16%;
   }
   .uni
   {
    font-size: 6px;
    margin-left: 12%;
    margin-top: 30%;
   }
   .certify
   {
    font-size: 5px;
    margin-left: 12%;
    margin-top: 33%;
   }

   .soon
   {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-left: 9%;
    margin-top: 40%;

   }

   .info
   {
    margin-top: 60%;
    font-size: 10px;
   }


}

@media (max-width: 360px)
{
   .image3
   {
     width: 35%;
   }
   .net
   {
    font-size: 4px;
    letter-spacing: 0.1em;
     margin-left: 7%;
     margin-top: 16%;
   }
   .uni
   {
    font-size: 4px;
    margin-left: 8.5%;
    margin-top: 30%;
   }
   .certify
   {
    font-size: 3px;
    margin-left: 10%;
    margin-top: 33%;
   } 
   .soon
   {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-left: 7%;
    margin-top: 40%;
   }
   .sub
   {
    font-size: 4px;
    letter-spacing: 0.060em;
    margin-top: 4%;
    margin-left: 50%;
   }
   .enter
   {
    font-size: 10px;
    letter-spacing: 0.105px;
    margin-top: 10%;
    margin-left: 45%;
    margin-right: 90%;
    width: 25%;
    line-height: 12px;
   }
   .notify
   {
    font-size: 3.1px;
    letter-spacing: 0.1px;
    margin-top: 10%;
    margin-left: 77.5%;
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0%;
  
    width: 20%;
    /* height: 10px;
    text-align: top; */
    box-sizing: border-box;
    line-height: 25px;
  

   }
}




