
.info
{
  z-index: 10;
position: absolute;
bottom: 0%;
margin-left: 3%;
margin-top: 10%;
background: transparent;
color:#FFFFFF;
border: none;

font-family: 'Sora';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.01em;

}


.sub
{
 
  z-index: 10;
position: fixed;
margin-left: 57.4%;
margin-top: 5.5%;
margin-bottom: 30%;
width: 50%;
border: none;
background: transparent;

font-family: 'Gemunu Libre ExtraLight', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.075em;

color:#FFFFFF;
}

 .enter
{
  z-index: 10;
  position: fixed;
  margin-left: 57.5%;
  margin-top: 7.6%;
  width: 24%;
/* left: 57.15%;
right: 33.68%;
top: 16.39%;
bottom: 80.83%; */
padding: 9px;
border-radius: 20px;


font-family: 'Gemunu Libre Medium', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* identical to box height */

 letter-spacing: 0.105em;

color: #f6f6f6;
}

.notify
{
z-index: 10;
position: fixed;
margin-left: 83%;
margin-bottom: 10%;
margin-top: 7.6%;
/* left: 78%;
right: 5.83%;
top: 14%;
bottom: 78.33%; */
padding: 3.5px;
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
background: #144189;
border-color: white;

box-sizing: border-box;
font-family: 'Gemunu Libre Medium', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 35px;

 letter-spacing: 0.105em;
text-transform: uppercase; 

color: #FFFFFF;
}

.soon
{
  z-index: 10;
  position: fixed;
  margin-left: 8%;
  margin-top: 32%;
  border: none;
  background: transparent;
  text-shadow: 1px 1px white;
 
  
  font-family: 'Sora';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 81px;
text-align: center;
letter-spacing: 0.079em;
color: #144189;
}


.certify
{
 z-index: 10;
position: fixed;
width: 35%;
margin-left: 12%;
margin-top: 22%;
border: none;
background: transparent;

font-family: 'Sora', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.22em;
text-transform: uppercase;
color: #FFFFFF;
}

.uni
{
  z-index: 10;
  position:fixed;
  width: fit-content;
  margin-left: 11.5%;
  margin-right: 20%;
  margin-top: 24%;
  border: none;
  background: transparent;
  /* text-decoration:underline; */
  padding-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 3px;

  

  font-family: 'Sora';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
/* identical to box height */

text-transform: uppercase;

color:white;
}

.net
{
  z-index: 10;
position: fixed;
width: 23%;
margin-left: 15%;
margin-top: 15%;
border: none;
padding: 0.5%;
border-radius: 5px;
background: transparent;


font-family: 'Gemunu Libre ExtraLight', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.3em;
border: 1px dashed #FFFFFF;
text-transform: uppercase;
color:#FFFFFF;

}

.image1
{
   position: absolute;
  width: 100%;
  height: 100%;
  
}

.image2
{
  position:fixed;
  margin-left: 50%;
  margin-top: 15.9%;
  
}

/* .image3
{
  position: fixed;
  margin-left: 12%;
  margin-top: 4%;
} */
.image4
{
  position: fixed;
  margin-left: 12%;
  margin-top: 4%;
}
@media (min-width: 1366px)
{
  .net
  {
    width: fit-content;
    margin-top: 10%;
    margin-left: 10%;
    font-family: 'Gemunu Libre ExtraLight';
  }
}

@media (min-width: 1200px)
{
  .enter
  {
    margin-left: 57%;
  }
  .info
  {
    margin-top: 44%;
  }
  .net
  {
    width: fit-content;
    margin-top: 14%;
    margin-left: 14%;
    font-family: 'Gemunu Libre ExtraLight';
  }
   .uni
   {
    font-size: 21px;
    margin-left: 11%;
    margin-top: 23%;
    width: fit-content;
    padding-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
   }
   .certify
   {
    font-size: 17.5px;
    margin-left: 11%;
    margin-top: 25.5%;
    width: fit-content;
   }

   .soon
   {
    font-size: 60px;
    letter-spacing: 0.02em;
    margin-left: 9%;
    margin-top: 32%;
   }

   /* .image3
   {
     width: 32%;
     margin-top: 3%;
     margin-left: 11%;
   } */
   .image4
   {
    width: 28%;
    margin-top: 3%;
    margin-left: 12.5%;
   }
   .image2
   {
     width: 50%;
   }
}
@media (max-width: 1024px)
{
  .image4
  {
    width: 28%;
    margin-top: 3%;
    margin-left: 12.5%;

  }
  .net
  {
    width: fit-content;
    margin-top: 14%;
    margin-left: 12%;
    font-family: 'Gemunu Libre ExtraLight';
  }
  .uni
  {
    font-size: 18px;
    margin-left: 9%;
    margin-top: 27%;
    width: fit-content;
    padding-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  }
  .certify
  {
    font-size: 15px;
    margin-left: 9%;
    margin-top: 30%;
    width: fit-content;
    viewport-fit: 412 x 732;
  }
  .soon
  {
    font-size: 55px;
    letter-spacing: 0.02em;
    margin-left: 5%;
    margin-top: 40%;
  }
  .info
  {
    margin-top: 50%;
  }
  .notify
  {
    margin-left: 85%;
  }
  .sub
  {
    margin-left: 58%;
  }
  .image2
  {
    margin-top: 19%;
  }

}

@media (max-width: 990px)
{
   /* .image3
   {
     width: 39%;
     margin-top: 4%;
   } */
   .image4
   {
    width: 39%;
    margin-top: 4%;
   }
   .enter
   {
     margin-top: 11%;
   }
   .notify
   {
     margin-top: 11%;
   }

   .net
   {
     width: fit-content;
    font-size: 26px;
    letter-spacing: 0.1em;
    margin-top: 17%;
    margin-left: 13%;
   }

   .uni
   {
    font-size: 14px;
    margin-left: 15%;
    margin-top: 28%;
    width: fit-content;
    
  border-bottom-style: solid;
  border-bottom-width: 3px;
   }
   .certify
   {
    font-size: 11.5px;
    margin-left: 15.5%;
    margin-top: 31%;
    width: fit-content;
   }

   .info
   {
     margin-top: 50%;
     font-size: 13px;
   }

   .image2
   {
     width: 80%;
   }

   .soon
   {
    font-size: 40px;
    letter-spacing: 0.02em;
    margin-left: 14%;
    margin-top: 36%;
   }
   
   .sub
   {
    font-size: 11px;
    letter-spacing: 0.060em;
    margin-top: 8%;
   }
  
}

@media (max-width: 800px)
{
  /* .info
  {
    margin-top: 80%;

  } */
  .enter
  {
    margin-top: 11%;
  }
  .notify
  {
    margin-top: 11%;
  }
  .net
  {
    width: fit-content;
    font-size: 21px;
    letter-spacing: 0.1em;
    margin-left: 11%;
    margin-top: 17%;
    font-family: 'Gemunu Libre ExtraLight';
  }

  .uni
  {
    /* width: 60%; */
    font-size: 13px;
    margin-left: 11%;
    margin-top: 30%;
    width: fit-content;
    padding-bottom: 0%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  }
  .certify
  {
    /* width: 70%; */
    font-size: 11px;
    margin-left: 11%;
    margin-top: 34%;
  }
  .soon
  {
    font-size: 33px;
    letter-spacing: 0.05em;
    margin-left: 9%;
    margin-top: 45%;
  }
  
  .sub
  {
    font-size: 8.5px;
    letter-spacing: 0.060em;
    margin-left: 58%;
    margin-top: 8%;
  }
  
  .image2
  {
    width: 60%;
  }
  /* .image3
  {
    width: 40%;
    margin-left: 9%;
    margin-top: 4%;
  } */
  .image4
  {
    width: 40%;
    margin-left: 9%;
    margin-top: 4%;
  }

}

@media (max-width: 600px)
{
  .info
  {
    margin-top: 120%;
    font-size: 10px;
    
  }
  .enter
  {
    font-size: 12px;
    letter-spacing: 0.105px;
    margin-top: 22%;
    margin-left: 57%;
    width: 25%;
  }

  .sub
  {
    font-size: 10px;
    letter-spacing: 0.060em;
    margin-top: 18%;
    margin-left: 58%;
    
  }
  .notify
  {
    font-size: 6px;
    letter-spacing: 0.200em;
    margin-top: 22%;
    margin-left: 87%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0%;
  }
   .soon
   {
    font-size: 25px;
    letter-spacing: 0.02em;
    margin-left: 6%;
    margin-top: 65%;
   }

   /* .image3
   {
     position: fixed;
     width: 40%;
     margin-left: 8%;
     margin-top: 3%;
    } */
   .image4
   {
    position: fixed;
    width: 40%;
    margin-left: 7%;
    margin-top: 13%;
   }
   .uni
   {
    font-size: 9px;
    margin-left: 9%;
    margin-top: 45%;
    width: fit-content;
    padding-bottom: 0%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
   }
   .certify
   {
     font-size: 7.5px;
     margin-left: 9%;
     margin-top: 50%;
   }
   
   
   .net
   {
     width: fit-content;
    font-size: 15px;
    letter-spacing: 0.1em;
     margin-left: 6%;
     margin-top: 28%;
   }
   .image2
   {
     width: 70%;
     margin-top: 70%;
     margin-left: 35%;
   }
}

@media (max-width: 480px)
{
  .sub
  {
    font-size: 11px;
    letter-spacing: 0.060em;
    margin-top: 85%;
    margin-left: 18%;
  }

   .enter
   {
    font-size: 11px;
    letter-spacing: 0.105px;
    margin-top: 90%;
    margin-left: 17%;
    width: 40%;
   }

   .notify
   {
    font-size: 8px;
    letter-spacing: 0.200em;
    margin-top: 90%;
    margin-left: 64%;
    
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
   }

   .net
   {
     width: fit-content;
    font-size: 15px;
    letter-spacing: 0.1em;
     margin-left: 23%;
     margin-top: 25%;
   }
   .uni
   {
     width: 100%;
    font-size: 13px;
    margin-left: 20%;
    margin-top: 40%;
    width: fit-content;
    padding-bottom: 0%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
   }
   .certify
   {
     width: 100%;
    font-size: 10.5px;
    margin-left: 21%;
    margin-top: 46%;
   }

   .soon
   {
     
    font-size: 35px;
    letter-spacing: 0.02em;
    margin-left: 18%;
    margin-top: 60%;
    
   }

   .info
   {
    margin-top: 150%;
    font-size: 10px;
   }

   .image2
   {
     /* width: 100%; */
     bottom: 0%;
     margin-top: 80%;
     margin-left: 15%;
   }
   /* .image3
  {
    margin-left: 30%;
    margin-top: 10%;
  } */
   .image4
   {
    margin-left: 30%;
    margin-top: 10%;
   }

}

@media (max-width: 360px)
{
   /* .image3
   {
     width: 60%;
     margin-top: 25%;
     margin-left: 20%;
   } */
   .image4
   {
    width: 60%;
    margin-top: 25%;
    margin-left: 20%;
   }
   .net
   {
     width: fit-content;
    font-size: 14px;
    letter-spacing: 0.1em;
     margin-left: 16%;
     margin-top: 48%;
   }
   .uni
   {
     width: 100%;
    font-size: 11px;
    margin-left: 16%;
    margin-top: 70%;
    width: fit-content;
    padding-bottom: 0%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
   }
   .certify
   {
     width: 100%;
    font-size: 8.8px;
    margin-left: 17%;
    margin-top: 78%;
   } 
   .soon
   {
    font-size: 30px;
    letter-spacing: 0.02em;
    margin-left: 16%;
    margin-top: 90%;
   }
   .sub
   {
     width: 100%;
    font-size: 10px;
    letter-spacing: 0.060em;
    margin-top: 123%;
    margin-left: 16%;
   }
   .enter
   {
     width: 40%;
    font-size: 10px;
    letter-spacing: 0.105px;
    margin-top: 130%;
    margin-left: 15%;
    margin-right: 90%;
    line-height: 12px;
   }
   .notify
   {
    font-size: 9px;
    letter-spacing: 0.1px;
    margin-top: 130%;
    margin-left: 64%;
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
  
    width: 23%;
    /* height: 10px;
    text-align: top; */
    box-sizing: border-box;
    line-height: 26px;
  

   }

   .info
   {
     margin-top: 202%;
   }
}




